<footer class="container-padding">
    <div class="left-box">
        <div class="flex footer-header">
            <li class="footer-heading">
                <h3><a>Terms of use</a></h3>
            </li>
            <li class="footer-heading">
                <h3><a>Privicy Policy</a></h3>
            </li>
            <li class="footer-heading">
                <h3><a>Blog</a></h3>
            </li>
            <li class="footer-heading">
                <h3><a>FAQ</a></h3>
            </li>
            <li class="footer-heading">
                <h3><a>Watch List</a></h3>
            </li>
        </div>
        <div class="copyright">
            © {{date | year}} <span>STREAM MOVIES</span>. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of, Streamit Inc. Duplication and copy of this is strictly prohibited. All rights reserved.
        </div>
    </div>
    <div class="middle-box">
        <div>
            <h3 class="footer-heading">Follow Us: </h3>
        </div>
        <div class="flex footer-header">
           <div class="social-links">
                <mat-icon>facebook</mat-icon>
           </div>
           <div class="social-links">
                <mat-icon>facebook</mat-icon>
           </div>
           <div class="social-links">
                <mat-icon>facebook</mat-icon>
           </div>
           <div class="social-links">
                <mat-icon>facebook</mat-icon>
           </div>
        </div>

    </div>
    <div class="right-box">
        <div>
            <h3 class="footer-heading">Stream Movie App</h3>
        </div>
        <div>
            <li>
                <a>google play store</a>
            </li>
            <li>
                <a>App Store</a>
            </li>
        </div>
    </div>
</footer>