<!-- <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, officia fuga. Ab, excepturi! Corporis debitis aspernatur repellat numquam recusandae sit, a ex nostrum excepturi quo accusamus, temporibus officia! Voluptates, officia.</h1> -->
<div class="modal-content" >
    <div class="modal-header">
      <h4 class="modal-title">{{fromParent}}</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModal()"
      ></button>
    </div>
    <div class="modal-body">
      <video controls>
        <source src="../../../assets/video1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
</div>



<!-- <button class="btn btn-outline-primary mb-2 me-2" (ng-init)="openFullscreen(content)">Fullscreen modal</button> -->
